.b-quiz-question {
  &[data-type="radio"] {
    .b-quiz-question-answers {
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .b-quiz-question-answer {
      display: flex;
      margin-bottom: 10px;
      cursor: pointer;

      &.is-active{
        .e-radio{
          border: 7px solid #00B9D2;
        }
      }

      &.is-wrong{
        label{
          color: red !important;
          text-decoration: line-through !important;
        }
      }

      .e-radio {
        display: block;
        position: relative;
        width: 22px;
        height: 22px;
        border-radius: 9999px;
        box-sizing: border-box;
        border: 1px solid #1B2A3F;
        cursor: pointer;
      }

      label {
        margin: 0;
        margin-left: 10px;
      }
    }
  }
}
