@import "common/variables";
@import "common/mixins";
@import "common/global";

.growtype-quiz-wrapper {

  @import "components/progress-bar";
  @import "components/timer";
  @import "components/input";
  @import "components/btn";
  @import "components/answer";
  @import "components/loader";
  @import "components/measurements";

  @import "question-types/open";
  @import "question-types/radio";
  @import "question-types/success";
  @import "question-types/single";

  @import "question-styles/horizontal-intro-select";
  @import "question-styles/horizontal-featured-select";
  @import "question-styles/general";

  .s-intro {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 30px;
    @include bp-phone-xl() {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .container {
      max-width: 1200px;
      margin: auto;
      min-height: 160px;
      display: flex;
      align-items: center;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .growtype-quiz-question-nr {
    display: flex;
    align-items: center;
    justify-content: center;

    .growtype-quiz-question-nr-separator {
      padding-left: 5px;
      padding-right: 5px;
    }

    .growtype-quiz-question-text {
      padding-left: 5px;
    }
  }

  .s-quiz {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    @include bp-phone-xl() {
      padding-top: 0;
    }

    .growtype-quiz-question-intro {
      p {
        padding-bottom: 0;
      }

      & + .growtype-quiz-question-answers-wrapper {
        padding-top: 20px;
      }
    }
  }

  .dashicons-arrow-right-alt2:before {
    color: white;
  }

  .growtype-quiz {
    display: block;
    position: relative;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 40px 40px;
    box-sizing: border-box;
    box-shadow: 0px 0px 54px -30px rgb(0 0 0 / 35%);
    min-height: 300px;
    @include bp-phone-xl() {
      padding: 20px 15px;
    }

    .growtype-quiz-question-answers {
      display: inline-block;
      width: 100%;
    }

    .growtype-quiz-header {
      padding-bottom: 50px;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      @include bp-phone-xl() {
        padding-bottom: 25px;
      }

      .growtype-quiz-question-nr {
        margin-left: auto;
      }
    }
  }

  .growtype-quiz-question {
    display: none;

    &.first-question {
      display: block;
    }

    &.is-visible {
      display: flex;
    }

    &.is-always-visible {
      display: block !important;
    }

    .b-img {
      width: 90%;
      @include bp-phone-xl() {
        min-height: 190px;
      }

      .e-img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }

      & + .growtype-quiz-main-content-wrapper {
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    &[data-question-style="general"] {
      .growtype-quiz-question-answers {
        display: flex;
        justify-content: center;
      }
    }

    &[data-question-style="vertical"] {
      .b-img {
        width: 100%;
        padding-bottom: 30px;
      }

      .e-img {
        min-height: 400px;
        @include bp-phone-xl() {
          min-height: 200px;
        }
      }

      .growtype-quiz-question-inner {
        flex-direction: column;
      }

      .growtype-quiz-question-intro {
        flex-direction: column;
      }

      .b-img + .growtype-quiz-main-content-wrapper {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .growtype-quiz-question-inner {
      display: flex;
      width: 100%;
      justify-content: center;
      @include bp-phone-xl() {
        flex-wrap: wrap;
      }
    }
  }

  .growtype-quiz-nav {
    .growtype-quiz-nav-inner {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      gap: 15px;
      flex-wrap: wrap;
      @include bp-phone-xl() {
        flex-direction: column-reverse;
        justify-content: initial;
      }

      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        z-index: 1;
        border-radius: 5px;
        @include bp-phone-xl() {
          width: 100%;
        }
      }

      .growtype-quiz-btn-go-back {
        display: flex;
        align-items: center;
        cursor: pointer;

        .icon-arrow {
          transform: rotate(180deg);
          margin-right: 10px;
          position: relative;

          svg {
            path {
              transition: all 0.5s;
            }
          }
        }
      }

      .growtype-quiz-btn-go-next {
        margin-left: auto;

        .icon-arrow {
          margin-left: 10px;
          position: relative;
        }
      }

      .growtype-quiz-question-nr {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        @include bp-phone-xl() {
          position: relative;
        }
      }
    }
  }

  .growtype-quiz-header {
    .growtype-quiz-nav-inner {
      margin-top: 0;
    }
  }

  .anim-wrong-selection {
    animation: growtype-quiz-wrong-answer 0.5s infinite;
  }
}

.growtype-quiz-wrapper .growtype-quiz-nav[data-first-question-answer-type="single_instant"] .growtype-quiz-nav-inner .btn {
  display: none;
}

@keyframes growtype-quiz-wrong-answer {
  0% {
    transform: translateX(0)
  }
  25% {
    transform: translateX(5px)
  }
  50% {
    transform: translateX(-5px)
  }
  75% {
    transform: translateX(5px)
  }
  100% {
    transform: translateX(0)
  }
}
