@import "../../../../themes/growtype/resources/styles/common/variables";
@import "../../../../themes/growtype/resources/styles/common/mixins";
@import "components/progress-bar";
@import "components/timer";

@import "partials/question-types/open";
@import "partials/question-types/radio";

.single-quiz {
  .s-quiz {
    padding-bottom: 50px;
  }

  .dashicons-arrow-right-alt2:before {
    color: white;
  }

  .b-quiz {
    display: block;
    position: relative;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 60px 80px;
    border: 1px solid grey;
    @include bp-phone-xl() {
      padding: 30px 25px;
    }

    .b-quiz-header {
      padding-bottom: 20px;
      display: flex;

      .b-quiz-question-nr {
        margin-left: auto;
      }
    }

    &.show-correct-answers {
      .b-quiz-question-answer.is-active[data-cor] {
        color: $color-error;
      }

      .b-quiz-question-answer[data-cor="1"] {
        color: $color-success !important;

        .e-radio {
          border: 7px solid #00B9D2;
        }
      }
    }
  }

  .b-quiz-question {
    display: none;

    &.first-question {
      display: block;
    }
  }

  .b-quiz-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 15px;
    flex-wrap: wrap;
    @include bp-phone-xl() {
      flex-direction: column;
      justify-content: initial;
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      @include bp-phone-xl() {
        width: 100%;
      }
    }
  }
}


