input[type="checkbox"] {
  margin-right: 10px;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;

  &:before {
    content: "";
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    position: absolute;
    background: white;
    border-radius: 3px;
    border: 1px solid black;
    left: -1px;
    top: -1px;
  }

  &:checked {
    &:after {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      background-image: url('./../../images/check.svg');
      background-size: 70%;
      background-position: center;
      background-repeat: no-repeat;
      left: -1px;
      right: 0;
      top: 0px;
      bottom: 0;
      margin: auto;
      background-color: black;
      border-radius: 3px;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
    }
  }
}

input[type="submit"] {
  background-image: url('./../../images/arrow.svg');
  background-size: 15px;
  background-position: 92% 50%;
  background-repeat: no-repeat;
}

.growtype-quiz-input-wrapper {
  position: relative;

  &[data-type="file"] {
    background: url("./../../images/image-upload.svg");
    min-height: 300px;
    max-width: 350px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
  }

  &[data-style="large"] {
    max-width: 280px;
    margin: auto;

    input:not([type=checkbox]):not([type=radio]):not([type=submit]):not(.qty), {
      border: none;
      text-align: center;
      font-size: 68px;
      border-bottom: 1px solid #d9dcdb;
      border-radius: 0;

      &::placeholder {
        font-size: 68px;
      }
    }

    label {
      right: 20px;
      left: initial;
      bottom: 20px;
      font-size: 16px;
      text-transform: lowercase;
      color: rgba(28, 48, 53, 0.6);
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  }

  &[data-style="general"] {
    margin: auto;

    input:not([type=checkbox]):not([type=radio]):not([type=submit]):not(.qty), {
      border: none;
      text-align: center;
      font-size: 16px;
      border-bottom: 1px solid #d9dcdb;
      border-radius: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: left;
      padding-left: 20px;
      padding-right: 20px;

      &::placeholder {
        font-size: 16px;
      }
    }

    label {
      right: 20px;
      left: initial;
      bottom: 17px;
      font-size: 16px;
      color: rgba(28, 48, 53, 0.6);
      background: white;
      padding: 1px 5px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  }

  input[type="file"] {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
  }

  .growtype-quiz-input-label {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 260px;
    margin: auto;
    bottom: 14%;
    text-transform: uppercase;
  }
}

.input.is-invalid {
  border: 1px solid red !important;
}
