.growtype-quiz-loader-wrapper {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &[data-redirect="true"] {
    .btn-continue {
      display: none;
    }
  }

  .growtype-quiz-loader-bar {
    background: white;
    height: 7px;
    min-width: 300px;
    margin-bottom: 20px;
    border-radius: 20px;

    .growtype-quiz-loader-bar-inner {
      background: var(--theme-color);
      height: 7px;
      width: 0;
      border-radius: 20px;
    }
  }

  .growtype-quiz-loader-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .radial-progress {
      margin-bottom: 30px;
    }

    .e-heading {
      margin-bottom: 20px;
      font-size: 34px;
    }

    .e-content {
      max-width: 400px;
      margin-bottom: 30px;

      &:empty {
        display: none;
      }
    }

    .radial-progress + .btn-continue {
      display: none;
    }
  }

  /*Required CSS*/
  svg.radial-progress {
    height: auto;
    max-width: 240px;
    padding: 0;
    transform: rotate(-90deg);
    width: 100%;
    border-radius: 50%;
  }

  svg.radial-progress circle {
    fill: transparent;
    stroke: var(--theme-color);
  }

  svg.radial-progress circle.bar-static {
    stroke: url(#quizLoaderGradientStroke) !important;
    stroke-width: 4px;
  }

  svg.radial-progress circle.bar--animated {
    stroke-dasharray: 219.91148575129;
    stroke: var(--theme-color);
    stroke-dashoffset: 219.91148575129;
    stroke-width: 4px;
    stroke-linecap: round;
  }

  svg.radial-progress text {
    fill: var(--theme-color);
    font-size: 16px;
    font-weight: 700;
    text-anchor: middle;
  }
}
