input[type="checkbox"] {
  margin-right: 10px;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #7C9CAE;
    border-radius: 3px;
  }

  &:checked {
    &:after {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      background-image: url('./../../images/check.svg');
      background-size: 70%;
      background-position: center;
      background-repeat: no-repeat;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

input[type="submit"] {
  background-image: url('./../../images/arrow.svg');
  background-size: 15px;
  background-position: 92% 50%;
  background-repeat: no-repeat;
}
