.growtype-quiz-progressbar {
  height: 10px;
  width: 100%;
  background: grey;
  position: relative;
  border-radius: 20px;
  overflow: hidden;

  .growtype-quiz-progressbar-inner {
    background: blue;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }

  & + .growtype-quiz-header {
    margin-top: 25px;
  }
}
