.growtype-quiz-question[data-question-style="general"] {
  margin-bottom: 30px;
  border-radius: 10px;
  position: relative;
  z-index: 1;

  .growtype-quiz-main-content-wrapper {
    padding: 0;
  }

  .growtype-quiz-main-content-wrapper {
    flex-direction: column;
    width: 100%;
  }

  &[data-question-type="success"] {
    padding-left: 0;

    .growtype-quiz-main-content-wrapper {
      padding: 0;
      width: 100%;
    }

    .form-group {
      width: 100%;

      input {
        border: none;
        border-bottom: 1px solid #7c9cae;
        font-size: 16px;
        color: #202633;
      }
    }
  }

  .b-img + .growtype-quiz-main-content-wrapper {
    padding-left: 40px;
    @include bp-phone-xl() {
      padding-left: 20px;
    }
  }

  .growtype-quiz-question-answers {
    flex-direction: column;
  }

  .growtype-quiz-question-answer {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

    .growtype-quiz-question-answer-content {
      display: flex;
      width: 100%;
    }
  }

  .wpcf7-form {
    margin: auto;
    padding: 50px 50px;
    margin-left: 0;
    @include bp-phone-xl() {
      padding: 20px;
    }
  }

  .row {
    display: flex;
    gap: 20px;
    @include bp-phone-xl() {
      flex-wrap: wrap;
    }
  }

  .cta-wrapper {
    width: 100%;
    justify-content: space-between;
    @include bp-phone-xl() {
      flex-direction: column;
    }

    .ajax-loader {
      position: absolute;
    }

    .wpcf7-list-item-label {
      color: #202633;
    }
  }
}
