.growtype-quiz-question[data-question-style="horizontal-intro-select"] {
  margin-bottom: 40px;

  .growtype-quiz-question-answers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .growtype-quiz-question-answer {
      padding: 20px 40px;
      margin: 0;
      background: white;
      padding-top: 21px;
      padding-bottom: 16px;
      cursor: pointer;
      @include bp-phone-xl() {
        padding: 20px 20px;
      }

      label {
        font-size: 18px;
        text-transform: uppercase;
        cursor: pointer;
      }

      &.is-active {
        background: #7C9CAE;
        color: white;
      }
    }

    .growtype-quiz-question-answer-wrapper {
      &:nth-child(1) {
        .growtype-quiz-question-answer {
          border-radius: 40px 0px 0px 40px;
        }
      }

      &:nth-child(2) {
        .growtype-quiz-question-answer {
          border-radius: 0 40px 40px 0;
        }
      }
    }

    .e-radio-wrapper {
      display: none;

      label {
        margin: 0;
      }
    }
  }
}
