.growtype-quiz-question {
  &[data-question-type="radio"] {
    .growtype-quiz-question-answer-wrapper {
      display: flex;
    }

    .growtype-quiz-question-answer {
      display: flex;
      margin-bottom: 10px;

      label {
        cursor: pointer;
      }

      .e-img {
        max-width: 130px;
        margin-right: 10px;
        min-width: 100px;
        min-height: 100px;
      }

      &.is-wrong {
        label {
          color: $color-error !important;
          text-decoration: line-through !important;
        }
      }

      &.is-correct {
        label {
          color: $color-success !important;
        }
      }

      .e-radio {
        display: block;
        position: relative;
        width: 22px;
        height: 22px;
        border-radius: 9999px;
        box-sizing: border-box;
        border: 1px solid #1B2A3F;
        cursor: pointer;
      }

      label {
        margin: 0;
        margin-left: 10px;
        position: relative;
        top: 0;
        font-size: 16px;
      }
    }

    &[data-answer-style="radio"] {
      .growtype-quiz-question-answer {
        &.is-active {
          .e-radio {
            border: 7px solid #00B9D2;
          }
        }
      }
    }

    &[data-answer-style="checkbox"] {
      .growtype-quiz-question-answer {
        .e-radio {
          border-radius: 0;
        }

        &.is-active {
          .e-radio {
            background-color: black;
            background-image: url('./../../images/check.svg');
            background-size: 13px;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }

    &[data-answer-style=radio] .growtype-quiz-question-answer.is-active .e-radio {
      background: none;
      border: 1px solid black;

      &:before {
        content: '';
        position: absolute;
        background: black;
        width: 9px;
        height: 9px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        margin: auto;
        border-radius: 50px;
      }
    }
  }
}
